.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

.container {
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
}
input {
  width: 100%;
  height: 100%;
}

.wrapper {
  margin: 250px auto;
  display: flex;
  flex-direction: column;
  background-color: #d7baba;
  width: 350px;
  height: 395px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.screen {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen input {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 18px;
  border: 1px solid #8b7474;
  border-radius: 5px;
  padding: 5px;
}

.btn {
  min-width: 55px;
  min-height: 55px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #8b7474;
  border-radius: 5px;
  background-color: #d8bfbf;
  transition: background-color 0.3s;
}

.operator-buttons {
  display: flex;
  justify-content: center;
}

.button-calculate {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.number-buttons {
  display: grid;
  grid-template-columns: repeat(3, minmax(85px, auto));
  gap: 10px;
}

.equals-button {
  padding-left: 10px;
}

.equals {
  background-color: rgba(152, 74, 225, 0.826);
}

.cal {
  font-size: 22px;
  background-color: rgb(224, 125, 125);
}

.hover-number:hover {
  background: red;
}
